body { 

     

    background-position: center; 

    background-size: cover; 


} 

  
.heading { 

    font-family: Effra,Helvetica,Arial,sans-serif; 
    padding-left: 70px;
    margin-left:0px;
    color:#000000;
} 

  
hr { 

    border-top: 2px solid black; 

    width: 30%; 
    padding-left: 1cm;
    margin-bottom: 55px; 
    margin-left: 4.1cm;
} 

  
.main { 

    width: 16cm; 
    border-width: 10mm;
    border-color: black;
    box-shadow:10px 10px 3px #9c9c9c;
    padding: 30px; 
    margin-left: 50px;
    margin-top:40px;
    background-color: #ffffff; 

} 

  
label { 

    font-size: 20px; 
} 

  
.btn { 

    width: 200px; 
} 


#finalAmount { 

    font-family: 'Lobster', cursive; 

    display: none; 

    margin: 50px auto; 
} 

  

#finalAmount h2 { 

    font-size: 50px; 
} 

  
.finalValue { 

    font-family: 'Amiri', serif; 
} 

  

@media (max-width: 768px) { 

    

    .main { 

        width: 100%; 

    } 
} 

  

@media (max-width: 400px) { 

    .heading { 

        font-size: 30px; 

    } 

    #finalAmount h2, .finalValue { 

        font-size: 40px; 

    } 
}

#oamount{
    width: 7.1cm;
    height: 1.6cm;
}
#bamount{
    width: 7.1cm;
    height: 1.6cm;
}
.input-group{
    width: 7.06cm;
    height: 1.6cm;
    display:flex;
    flex-wrap: nowrap;
    
}

.mb3{
    width: 7.06cm;
    height: 1.6cm;
}
.form-control{

    height: 1.6cm;
}
.col-sm-6{
    padding-left:1mm;
}
.flag{
    height: 1mm;
    width: 1mm;
}


.container{
    width: 100%;
}
#Favourite{
    background-position: center; 
    margin-left: 0px;;
    margin-right:40px;
    background-color: #ffffff;
    height:4mm;
    border-color: #ffffff;
    border-collapse:unset;
    border-radius: 0px;
    outline-color:white;
    box-shadow: none;
    width:4mm;
    padding:0%;

}

.fromSearch{
    width:200px;
}
.row{
    flex-wrap: nowrap;
}
#sel1{
    width:206px;
}

/*for options*/
/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #ffffff;
}
.select-menu{
    width: 380px;
    margin: 140px auto;
}
.select-menu .select-btn{
    display: flex;
    height: 55px;
    background: #fff;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.select-btn i{
    font-size: 25px;
    transition: 0.3s;
}
.select-menu.active .select-btn i{
    transform: rotate(-180deg);
}
.select-menu .options{
    position: relative;
    padding: 20px;
    margin-top: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    display: none;
}
.select-menu.active .options{
    display: block;
}
.options .option{
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
}
.options .option:hover{
    background: #ffffff;
}
.option i{
    font-size: 25px;
    margin-right: 12px;
}
.option .option-text{
    font-size: 18px;
    color: #333;
}
/* for history block*/
#historyBlock{
    display: none;
    width:529.1px;
    overflow-y: auto;
    max-height: 440px;

}
option .to{
    display:block;
    width : 100%;
}
select .to {
    display:block;
    width : 100%;
}
.live{
    margin-left:350px; 
    margin-bottom:20px;
}
@media(max-width:585px){
    .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        align-content: stretch;
        justify-content: space-around;
        flex-direction: column;
    }
}
@media(max-width:768px){
    .main{
        width:80%;
    }
    .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        align-content: stretch;
        justify-content: space-around;
        flex-direction: column;
    }
}
@media(max-width:768px){
    .live{
        margin-top:47rem;
        margin-left:2rem;
        margin-bottom:5rem;
    }
    .row{
        align-content: center;
    }
    .menu__bar{
        align-self: center;
        width:100vw;
    }
}
