

<!DOCTYPE html>
<html>
<head>
    <title>Real Time Currency Converter</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>Real Time Currency Converter</h1>
    <form id="currency-form">
        <label for="amount">Amount:</label><br>
        <input type="text" id="amount" name="amount"><br>
        <label for="from_currency">From:</label><br>
        <input type="text" id="from_currency" name="from_currency"><br>
        <label for="to_currency">To:</label><br>
        <input type="text" id="to_currency" name="to_currency"><br>
        <input type="submit" value="Convert">
    </form>
    <p id="result"></p>

    <script>
    $(document).ready(function(){
        $('#currency-form').on('submit', function(event){
            event.preventDefault();
            $.ajax({
                url: "{% url 'convert_currency' %}",
                type: "GET",
                data: {
                    'amount': $('#amount').val(),
                    'from_currency': $('#from_currency').val(),
                    'to_currency': $('#to_currency').val()
                },
                success: function(data) {
                    $('#result').html(data.result);
                }
            });
        });
    });
    </script>
</body>
</html>
